<h1>Todo App</h1>
<form [formGroup]="todoForm">
    <div class="form-group registItemArea">
        <div class="input-group">
            <input id="title" class="form-control" placeholder="Title" formControlName="title" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="hasDetail = !hasDetail">詳細</button>
            </span>
        </div>
    </div>


    <div class="card card-block card-header" [collapse]="!hasDetail">
        <div class="form-group">
            <label for="description">
                <strong>詳細:</strong>
            </label>
            <textarea id="text" class="form-control" formControlName="description"></textarea>
        </div>

        <div class="form-group">
            <label for="date">
                <strong>日付:</strong>
            </label>
            <input type="date" class="form-control" formControlName="date" />
        </div>
    </div>

</form>
<div class=" row ">
    <div class="col-sm-2 ">
        <button class="createBtn btn btn-success " [disabled]="this.todoForm.invalid"
            (click)="onSaveTodoItem()">作成</button>
    </div>
</div>
<hr>
<div class="row itemListArea ">
    <accordion class="col-sm-12">
        <accordion-group *ngFor="let item of itemList; let i=index;">
            <div accordion-heading [class.isComplete]="item.isComplete">
                {{item.title}}
            </div>
            <div>
                <strong>詳細：</strong>
                <pre>{{item.description ? item.description : "-"}}</pre>
            </div>
            <div>
                <strong>日付：</strong>
                <span>{{item.date ? item.date : "-"}}</span>
            </div>
            <div>
                <button class="btn btn-success"
                    (click)="item.isComplete = !item.isComplete ">{{item.isComplete ? "未完了に戻す" : "完了にする"}}</button>
                <button class="btn btn-danger" (click)="onDeleteItem(i)">削除</button>
            </div>
        </accordion-group>
    </accordion>
</div>